<!DOCTYPE html>
<html>
<head>
	<%- include ('partials/head') %>
	<%- include ('partials/nav') %>
	<script src="new-js/information.js" type="module"></script>
	<script>
		$(document).ready(function() {
			$("#detailedView").change(function() {
				document.cookie = "detailedView=" + $("#detailedView").is(":checked");
			});
		});
	</script>

	<script>
		function onChangeMap() {
			let type = "";
				if ($("#mapType")[0].selectedIndex == 0) {
					type = "none";
				} else if ($("#mapType")[0].selectedIndex == 1) {
					type = "google";
				} else if ($("#mapType")[0].selectedIndex == 2) {
					type = "osm";
				}
				document.cookie = "mapType=" + type;
		}
	</script>

	<%
		let detailedViewValue = "";
		if (cookies.detailedView == "true") {
			detailedViewValue = "checked";
		}

		// gps default map type
		let detailedViewGps = "Default Map";	// mapType : none, google, osm

		let noneSelected = "";
		let googleSelected = "";
		let osmSelected = "";

		if (cookies.mapType == "none") {
			detailedViewGps = "Do not open Maps on detailed view";
			noneSelected = "selected";
		} else if (cookies.mapType == "google") {
			detailedViewGps = "Google Maps";
			googleSelected = "selected";
		} else if (cookies.mapType == "osm") {
			detailedViewGps = "Open Street Map";
			osmSelected = "selected";
		}
	%>

</head>
<body>
<div id="settings">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4 id="main-text">Settings</h4>
				<div class="form">

					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" id="detailedView" <%=detailedViewValue%>/>
						<label class="form-check-label" for="flexSwitchCheckDefault">Detailed View</label>
					</div>

					<select id="mapType" name="mapTypes" class="form-select" aria-label="Default select example" onchange="onChangeMap();" style="width: auto;">
						<option <%=noneSelected%> value="none">Do not open Maps on detailed view</option>
						<option <%=googleSelected%> value="google">Google Maps</option>
						<option <%=osmSelected%> value="osm">Open Street Map</option>
					</select>
					<br>
					<br>
					<label>CHOOSE OPTIONS FOR DATA PAGE</label>
					<br>
					<!-- to be updated with new graphs -->
				<div>					
					<label for="graphtype">Choose a graph: </label>
					<select name="graphtype" id="graphtype">
						<option value="line">Line Graph (1 topic)</option>
						<option value="bar"> Bar Chart (1 topic)</option>
						<option value="multiLine">Multi Line Graph (2 topic)</option>
					</select>
					<br>
					<label>Choose first topic for the graph:</label>
					<select class="selecttopic" id="firsttopic"></select>
					<br>
					<label>Choose second topic for the graph (multiline only):</label>
					<select class="selecttopic" id="secondtopic"></select>
					<br>
					<label>Choose data cutoff:</label>
					<input type="number" id="datamount">
					<br>
					<label>Choose Duck_id to monitor</label>
					<select class="selectduck" id="selectduck"></select>
					<br>
					<button id="toData">Save data</button>	
				</div>
				<div>
				

					<div id="alert">
					<span id="beautify">
					<label>Choose a topic to set an alert:</label>
					<select class="selecttopic" id="topic_alert"></select>
					<br>
					<label>Choose a min value for the alert </label>
					<input type="number" id="min_alert">
					<br>
					<label>Choose a max value for the alert </label>
					<input type="number" id="max_alert">
					<button id="alert_bt"> Save new alerts </button>
					<br>
					</span>
					</div>
					<br>
							
				</div>
			</div>


			</div>
			<div class="col-sm-6">
				<div id="second_col">
					<table id="infoTable" class="table table-borderless table-striped table-earning">
						<thead>
							<tr>
								<th>Monitor Duck</th>
								<th>Type of Graph</th>
								<th>First topic displayed</th>
								<th>Second topic displayed (only if multiline)</th>
								<th>Data cutoff</th>
							</tr>
						</thead>
						<tbody id="table_body"></tbody>
					  </table>
				</div>

			</div>
		</div>
	</div>
</div>
	<%- include ('partials/footer') %>
</body>
</html>
